<%-include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/main.css">

  <h2 style="margin-bottom: 20px;"><%= blog.title %></h2>
  <p><%= blog.content %></p>
  <br>
  <p><%= blog.date%> <%= blog.time%></p>

  <a href="/" class="back"> &lt;&lt;Back to Blog List</a>


<%-include("partials/footer.ejs") %>